WebServiceSolution1/BookingWebApplication/Connected Services/ServiceReference1/ClientService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SearchTrains">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="departureStationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="arrivalStationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTrainsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTrainsResult" type="tns:ArrayOfSchedule" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSchedule">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Schedule" nillable="true" type="tns:Schedule" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Schedule">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ScheduleId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TrainId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DepartureStationId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArrivalStationId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DepartureTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ArrivalTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TrainName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AvailableSeats" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStations">
        <s:complexType />
      </s:element>
      <s:element name="GetStationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStationsResult" type="tns:ArrayOfStation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Station">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StationId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAvailableSeats">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="scheduleId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableSeatsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAvailableSeatsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBooking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="scheduleId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nic" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="seatCount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="passengerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contactInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddBookingResult" type="tns:BookingResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BookingResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="BookingId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchTrainsSoapIn">
    <wsdl:part name="parameters" element="tns:SearchTrains" />
  </wsdl:message>
  <wsdl:message name="SearchTrainsSoapOut">
    <wsdl:part name="parameters" element="tns:SearchTrainsResponse" />
  </wsdl:message>
  <wsdl:message name="GetStationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetStations" />
  </wsdl:message>
  <wsdl:message name="GetStationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetStationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailableSeatsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailableSeats" />
  </wsdl:message>
  <wsdl:message name="GetAvailableSeatsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailableSeatsResponse" />
  </wsdl:message>
  <wsdl:message name="AddBookingSoapIn">
    <wsdl:part name="parameters" element="tns:AddBooking" />
  </wsdl:message>
  <wsdl:message name="AddBookingSoapOut">
    <wsdl:part name="parameters" element="tns:AddBookingResponse" />
  </wsdl:message>
  <wsdl:portType name="ClientServiceSoap">
    <wsdl:operation name="SearchTrains">
      <wsdl:input message="tns:SearchTrainsSoapIn" />
      <wsdl:output message="tns:SearchTrainsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <wsdl:input message="tns:GetStationsSoapIn" />
      <wsdl:output message="tns:GetStationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableSeats">
      <wsdl:input message="tns:GetAvailableSeatsSoapIn" />
      <wsdl:output message="tns:GetAvailableSeatsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddBooking">
      <wsdl:input message="tns:AddBookingSoapIn" />
      <wsdl:output message="tns:AddBookingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientServiceSoap" type="tns:ClientServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchTrains">
      <soap:operation soapAction="http://tempuri.org/SearchTrains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <soap:operation soapAction="http://tempuri.org/GetStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableSeats">
      <soap:operation soapAction="http://tempuri.org/GetAvailableSeats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBooking">
      <soap:operation soapAction="http://tempuri.org/AddBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientServiceSoap12" type="tns:ClientServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchTrains">
      <soap12:operation soapAction="http://tempuri.org/SearchTrains" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <soap12:operation soapAction="http://tempuri.org/GetStations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableSeats">
      <soap12:operation soapAction="http://tempuri.org/GetAvailableSeats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBooking">
      <soap12:operation soapAction="http://tempuri.org/AddBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientService">
    <wsdl:port name="ClientServiceSoap" binding="tns:ClientServiceSoap">
      <soap:address location="https://localhost:44386/ClientService.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientServiceSoap12" binding="tns:ClientServiceSoap12">
      <soap12:address location="https://localhost:44386/ClientService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>